<section class="page-header">
    <div class="overly"></div>   
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="content text-center">
            <h1 class="mb-3">Order</h1>
            <p>Order</p>
  
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent justify-content-center">
              <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Order</li>
            </ol>
          </nav>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  <section class="user-dashboard page-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-5 col-sm-12 col-lg-3">
          <div class="nav flex-column nav-pills">
            <a class="nav-link" routerLink="/dashboard" >Dashboard</a>
          </div>
          <div class="nav flex-column nav-pills">
            <a class="nav-link active" routerLink="/order" >Orders</a>
          </div>
          <!-- <div class="nav flex-column nav-pills">
            <a class="nav-link" routerLink="/order" >Downloads</a>
          </div> -->
          <div class="nav flex-column nav-pills">
            <a class="nav-link" routerLink="/address" >Address</a>
          </div>
          <div class="nav flex-column nav-pills">
            <a class="nav-link" routerLink="/profile-details" >Account</a>
          </div>
          <div class="nav flex-column nav-pills">
            <a class="nav-link"routerLink="/" (click)="logout()">Log Out</a>
          </div>
        </div>
  
        <div class="col-12 col-md-7 col-sm-12 col-lg-9">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Order</th>
                <th scope="col">Date</th>
                <th scope="col">Status</th>
                <th scope="col">Total</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let order of orders">
                <th scope="row">#{{order.id}}</th>
                <td>{{order.date}}</td>
                <td>{{order.status}}</td>
                <td>{{order.total}}</td> <td><a routerLink="/order" class="btn btn-dark btn-small">View</a>
                </td> 
              </tr> 
            </tbody> 
          </table> 
        </div> 
      </div> 
    </div> 
  </section>